<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <!-- 직접 입력하는 태그 : form 태그 (다양한 태그 : 서버로 데이터를 보내는 목적)-->
    <!-- input 태그 : 사용자가 정보를 입력하는 부분을 만들어야 할 때 사용 -->
    <!-- "text"(default 값이어서 생략가능)로 주면 되는데 email은 email형태가 따로 있음-->
    <!-- 서버가 데이터로 가려면 form 태그로 감싸져있어야함, name을 가지고 있어야함. -->
    <form method="post">
    <div>                                                   <!-- submit시 입력값 없어도 전송되는 것 방지-->
        <input type="email" name="userId" placeholder="아이디(이메일) 입력" required/>
    </div>
    <div>
        <input type="text" name="userName" placeholder="이름 입력" required/>
    </div>
    <div>
        <input type="password" name="password" placeholder="비밀번호 입력" required/>
    </div>
        <div>
            <input type="password" name="rePassword" placeholder="비밀번호 확인 입력" required/>
        </div>
    <div>
        <input type="tel" name="phone" placeholder="전화번호 입력" required/>
    </div>
    <div>
        <button>회원 가입 하기</button>
    </div>
    </form>
</body>
</html>